{% extends 'base.html.twig' %}

{% block body %}
    <h2>List of TV-Show</h2>
    <div>
        {% if currentPage > 1 %}
            <a href="{{ path('serie_list', {'page': currentPage - 1 }) }}" class="link_button">Previous page</a>
        {% endif %}
        {% if currentPage < maxPage %}
            <a href="{{ path('serie_list', {'page': currentPage + 1 }) }}" class="link_button">Next page</a>
        {% endif %}
    </div>
    <section class="series-list">
        {% for serie in series %}
            <article>
                <a href="{{ path('serie_detail', {'id': serie.id }) }}">
                    <img title="{{ serie.seasons | length }} seasons" src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
                </a>
            </article>
        {% endfor %}
    </section>
{% endblock %}
